        @media only screen and (min-width: 600px){
            .ui-page {
                width: 600px !important;
                margin: 0 auto !important;
                position: relative !important;
                border-right: 3px #666 outset !important;
                border-left: 3px #666 outset !important;
            }
        }

body {
	padding-bottom: 10px;
}

#buttons .ui-btn-text {
	font-size: 16px;
}

#stop_select {
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 16px;
}

#stop_select .ui-btn:first-child {
	width: 240px !important;
}

#select_stop {
}

#btn_refresh {
	display: none;
	height: 39px;
	width: 38px;
	margin-left: 10px;
	padding-left: 6px;
}

#btn_refresh span span.ui-icon {
	margin-right: 3px !important;	
}

#intro {
	margin: 10px;
	margin-top: 46px;
	color: #444;
	text-align: center;
	font-size: 120%;
}

.pred_line {
	position: relative;
	font-weight: bold;
	margin-left: 6px;
	margin-top: 18px;
	min-height: 55px;
}

.sc_image img {
	display: block;
	margin-left: 48px;
}

.sc_num {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #aaa;
	font-size: 14px;
}

.sc_eta {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 30px;
}

#footer {
	min-height: 12px;
}
