html {
	font-family: Verdana, Arial, sans-serif;
	color: #333;
}

@media only screen and (min-width: 600px){
    .ui-page {
	width: 600px !important;
	margin: 0 auto !important;
	position: relative !important;
	border-right: 3px #666 outset !important;
	border-left: 3px #666 outset !important;
    }
}

#page2 {
	display: none;
}

.phase_btn {
	text-align: left;
}

.button_timer {
	float: right;
}

#next_btn, #reset_btn {
/*	display: none;*/
}

#total {
	font-weight: bold;
}

.pct {
	font-weight: bold;
	color: red;
	margin-left: .6em;
}
